@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to ASP.NET Core on AWS!</h1>
    <p>This is Hubaib ur Rehman. I am working to deploy this project to AWS cloud.</p>
</div>
